.As{
    width: 100px;
    height:100px;
}
.Te{
    width: 100px;
    height:100px; 
}
.Mi{
    width: 100px;
    height:100px; 
}
.Ro{
    width: 100px;
    height:100px; 
}
.Ja{
    width: 100px;
    height:100px; 
}
.Su{
    width: 100px;
    height:100px; 
}
.Ch{
    width: 100px;
    height:100px; 
}
.Pes{
    width: 100px;
    height:100px;  
}
.Cri{
    width: 100px;
    height:100px; 
}
.Roy{
    width: 100px;
    height:100px; 
}
.Beef{
    width: 100px;
    height:100px; 
}

.Crispy{
    width: 100px;
    height:100px; 
}
